
@import 'assets/scss/mixins';
@import 'assets/scss/variables';

.header-drawer {

    &__logo {
        @include displayFlex(row, nowrap, center, center);
        min-height: 30px;
    }

    &__link {
        text-decoration: unset;
        color: unset;
    }

    &__list-item {
        padding: 5px 0 5px 25px!important;
        min-height: 20px;
        
        span {
            font-size: 15px!important;
        }
    }
}