@import 'assets/scss/mixins';
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.App {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  
  ::selection {
    background-color: #2196f3!important;
    color: white!important;
  }

  @include customScrollBar();
}
