@import 'assets/scss/variables';
@import 'assets/scss/mixins';
.header {
    height: $headerHeigh;
    width: 100%;
    background-color: $white;
    @include padding(0 45px);
    @include displayFlex(row, nowrap, space-between, center);
    border-bottom: 1px solid $light-silver;
    overflow: hidden;

    @include maxWidth($md) {
        @include padding(0 0.5rem);
    }

    &__left{
        @include displayFlex(row, nowrap, flex-start, center);
        gap: 3rem;

        @include maxWidth($lg) {
            gap: 1rem;
        }

        @include maxWidth($xl) {
            gap: 0rem;
        }
    }

    &__menu {
        display: none;

        @include maxWidth($xl) {
            display: block;
        }
    }

    &__logo {
        img { height: 35px }
    }

    &__links {
        a {
            width: 200px;
            text-decoration: unset;
            color: unset;
            @include displayFlex(row);
            gap: 0.5rem;

            &::after {
                position: absolute;
                content: '';
                left: 0;
                bottom: -18px;
                width: 0;
                height: 5px;
                background-color: $blue;
                transition: all $secondary-transition;
            }
        }

        a.active {
            color: $blue;
            position: relative;
            
            &::after {
                position: absolute;
                content: '';
                left: 0;
                bottom: -18px;
                width: 100%;
                height: 3px;
                background-color: $blue;
            }
        }


        @include displayFlex(row, nowrap, flex-start, center);
        gap: 1.5rem;
        font-size: 16px;
        font-weight: 500;
        color: lighten($color: $silver-text-color, $amount: 10);

        @include maxWidth($xl) {
            display: none;
        }
        @include maxWidth($lg) {
            gap: 1rem;
            font-size: 14px;
        }
    }

    &__right {
        @include displayFlex(row, nowrap, space-between, center);
        gap: 1rem;

        @include maxWidth($md) {
            gap: 0.2rem;
        }
    }

    &__tools {
        @include displayFlex(row, nowrap, space-between, center);
        gap: 1rem;

        @include maxWidth($md) {
            display: none;
        }
    }
}